In [60]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import Ridge, Lasso, SGDRegressor, BayesianRidge, LassoLars, ARDRegression, PassiveAggressiveRegressor, TheilSenRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error
from sklearn import linear_model
from sklearn import svm
from math import sqrt
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [50]:
###loads the data
data=pd.read_csv(r'D:\processUSPTO_201416_comp.txt', sep='\t')

In [51]:
data.shape

(3710, 36)

In [52]:
data.head(4)

,process_share,prioritydate_year,parent,family_size,originality,orig_count_cited,orig_count_classes,generality,gen_count_citing,gen_count_classes,...,firm,individual,gov,Chemistry,EE,Instru,ME,AI,review_day,assignee_age
0,0.000,2014,1,1,0.238,30,30,0.0,1,1,...,1,0,0,0,0,0,1,0,392,0.0
1,0.000,2014,0,2,0.593,9,9,0.0,1,1,...,0,1,0,0,0,1,0,0,125,0.0
2,1.000,2014,1,1,0.920,20,20,0.0,1,1,...,1,0,0,1,0,0,0,0,788,0.0
3,0.333,2014,0,4,0.667,6,6,0.0,6,4,...,1,0,0,0,0,1,0,0,382,0.0

In [53]:
data.tail(4)

,process_share,prioritydate_year,parent,family_size,originality,orig_count_cited,orig_count_classes,generality,gen_count_citing,gen_count_classes,...,firm,individual,gov,Chemistry,EE,Instru,ME,AI,review_day,assignee_age
3706,0.000,2014,1,1,0.722,12,12,0.0,3,1,...,0,1,0,0,0,0,0,0,455,0.0
3707,0.000,2014,1,1,0.000,10,10,0.0,2,2,...,0,1,0,0,1,0,0,0,649,2.1
3708,0.500,2014,1,1,0.124,15,15,0.0,1,1,...,1,0,0,0,0,0,0,0,223,0.0
3709,0.333,2015,1,13,0.828,16,16,0.0,4,2,...,1,0,0,0,1,0,0,0,209,0.0

In [43]:
#keep only the complete cases
#data=data.dropna()

In [54]:
#defines the relevant dimensions and the target
X=data.iloc[:,1:36]
y=data['process_share']

In [55]:
#defines a training sample with 60% of the data
X_train, X_test, y_train, y_test=train_test_split(X, y, test_size=0.2, random_state=15)

In [58]:
for Model in [LinearRegression, Ridge, Lasso, GradientBoostingRegressor, DecisionTreeRegressor, SVR,
             SGDRegressor, BayesianRidge, LassoLars, ARDRegression, PassiveAggressiveRegressor, TheilSenRegressor]:
    clf=Model().fit(X_train, y_train)
    y_pred=clf.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    rmse = sqrt(mse)
    #print(rmse)
    print('%s: %s' % (Model.__name__, rmse))

LinearRegression: 0.2956259727138504
Ridge: 0.2955843226808237
Lasso: 0.3107983508590411

C:\Users\FBS\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 94.74829541057866, tolerance: 0.033006518758355786
  model = cd_fast.enet_coordinate_descent(

GradientBoostingRegressor: 0.27694241010381593
DecisionTreeRegressor: 0.40110737550515835
SVR: 0.3099575736082594
SGDRegressor: 4.847304069500345e+17
BayesianRidge: 0.2952951359317531
LassoLars: 0.322968846899421
ARDRegression: 0.3065041124909322
PassiveAggressiveRegressor: 0.6053712369663092
TheilSenRegressor: 0.5250188197811966

In [62]:
#10th fold CV with shuffling
cv = ShuffleSplit(n_splits=10, random_state=15)

In [1]:
from sklearn.model_selection import cross_val_score

In [2]:
####checks the accuracy of the difference models
# prepare models
models = []
models.append(('LR', LinearRegression()))
models.append(('ri', Ridge()))
models.append(('Las', Lasso()))
models.append(('grad', GradientBoostingRegressor()))
models.append(('tree', DecisionTreeRegressor()))
models.append(('SVM', SVR()))
models.append(('SDG', SGDRegressor()))
models.append(('BayesianRi', BayesianRidge()))
models.append(('LassoLars', LassoLars()))
models.append(('ARDRreg', ARDRegression()))
models.append(('PAreg', PassiveAggressiveRegressor()))
models.append(('TheilSenreg', TheilSenRegressor()))

# evaluate each model in turn
results = []
names = []
scoring = 'accuracy'#cross_val_score(model, data.data, data.target, cv=cv).mean()
for name, model in models:
	#kfold = model_selection.KFold(n_splits=10, shuffle=True, random_state=seed) #here seeds set to 7 and 10 folds
	cv_results = cross_val_score(model, X, y, cv=cv)
    #cv_results = cross_val_score(model, data.data, data.target, cv=kfold, scoring=scoring) #calls the line above for the CV
	results.append(cv_results)
	names.append(name)
	msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
	print(msg)

NameError: name 'LinearRegression' is not defined

In [64]:
##gets the avg mean squared error: provides in negative but considring min the aboslute value
val_errors = []
#scoring = []#cross_val_score(model, data.data, data.target, cv=cv).mean()
for name, model in models:
	#kfold = model_selection.KFold(n_splits=10, shuffle=True, random_state=seed) #here seeds set to 7 and 10 folds
	errors = np.mean(cross_val_score(model, X, 
                                     y, 
                                     scoring='neg_mean_squared_error', 
                                     #scoring='make_scorer',
                                     cv=cv, #10  CV
                                     n_jobs=-1))
    #cv_results = cross_val_score(model, data.data, data.target, cv=kfold, scoring=scoring) #calls the line above for the CV
	val_errors.append(errors)
	names.append(name)
	msg = "%s: %f" % (name, errors)
	print(msg)

LR: -0.092715
ri: -0.092703
Las: -0.102686
grad: -0.082010
tree: -0.153197
SVM: -0.100395
SDG: -61384004670878009968748275781599232.000000
BayesianRi: -0.092705
LassoLars: -0.111579
ARDRreg: -0.100998
PAreg: -0.530430
TheilSenreg: -0.273356

In [65]:
GBR=GradientBoostingRegressor()
search_grid={'n_estimators':[500,1000,2000],'learning_rate':[.001,0.01,.1],'max_depth':[1,2,4],'subsample':[.5,.75,1],'random_state':[1]}
#includes the grid in the cross validation and focuses on the RMSe as perf criterion
search=GridSearchCV(estimator=GBR,param_grid=search_grid,scoring='neg_mean_squared_error',n_jobs=1,cv=cv) #calls my Kfolds defined above

In [66]:
#fits my gradient boosting within the search grid with a 10th fold cv
search.fit(X, y)

GridSearchCV(cv=ShuffleSplit(n_splits=10, random_state=15, test_size=None, train_size=None),
             estimator=GradientBoostingRegressor(), n_jobs=1,
             param_grid={'learning_rate': [0.001, 0.01, 0.1],
                         'max_depth': [1, 2, 4],
                         'n_estimators': [500, 1000, 2000], 'random_state': [1],
                         'subsample': [0.5, 0.75, 1]},
             scoring='neg_mean_squared_error')

In [67]:
#looks for the best parameters
search.best_params_

{'learning_rate': 0.01,
 'max_depth': 4,
 'n_estimators': 2000,
 'random_state': 1,
 'subsample': 0.5}

In [68]:
#def the best score: divides the error by 2
search.best_score_ #very little effect

-0.07914502781811637

In [70]:
GBR2=GradientBoostingRegressor(n_estimators=2000,learning_rate=0.01,subsample=.5,max_depth=4,random_state=1)
scoreac=np.mean(cross_val_score(GBR2,X, y,cv=cv,n_jobs=1))
scoreac #+2%

0.28821394970772174

In [71]:
score=np.mean(cross_val_score(GBR2,X, y,scoring='neg_mean_squared_error',cv=cv,n_jobs=1))
score

-0.07914502781811637